
.container {
  /* width: 600px; */
  display: grid;
  /* grid-template-columns: repeat(16, 1fr); */
  /* grid-template-rows: repeat(16, 1fr); */
  grid-gap: 1px;
  margin: 20px;
}
.no-gap {
  grid-gap: 0;
}
.grid-element,
.container>div {
  /* height: 35px; */
  background: dodgerblue;
  /* margin: 1px; */
  transition: all 0.2s ease-in-out;
}
div.active{
  background: plum;
}
