
.container {
  /* width: 600px; */
  display: grid;
  /* grid-template-columns: repeat(16, 1fr); */
  /* grid-template-rows: repeat(16, 1fr); */
  grid-gap: 1px;
}
.no-gap {
  grid-gap: 0;
}
.grid-element,
.container>div {
  /* height: 35px; */
  background: dodgerblue;
  /* margin: 1px; */
}
div.active{
  background: plum;
}
